:root {
  --color-white: #ffffff;
  --main-bgColor: #1f809d;
  --title-color: #ca2567;
  --color-grey: #525c6f;
  --color-blue: #57bfe3;
  --color-textBlue: #065a9c;
  --color-tabletMain: #525c6f;
  --color-newsText: #5a5a5a;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
p {
  margin: 0;
}
.page-header {
  color: var(--color-white);
}
.menu__link--activ {
  position: relative;
  display: block;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: var(--color-textBlue);
}

.container-menu {
  display: flex;
  justify-content: end;
  width: 375px;
  height: 80px;
  margin: 0 auto;
}
.logoKIF {
  display: none;
}
.language {
  display: flex;
  margin-right: 155px;
}
.header-menu__logoKyiv {
  display: none;
}
.header-menu {
  position: relative;
}
.header-menu__box {
  display: none;
}

.menu-btn {
  margin-top: 28px;
  margin-right: 32px;
  border: none;
  background: none;
}
.btn-icon {
  width: 24px;
  height: 24px;
}
/* if-section */
.swiper {
  display: none;
}
.if-section {
  width: 375px;
  height: 232px;
  margin: 0 auto;
  background: var(--main-bgColor);
}

.if-logo {
  margin-left: 24px;
  margin-bottom: 22px;
}
.if-text {
  margin: 0;
  margin-left: 96px;
  width: 255px;
  height: 95px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-white);
}
/* people-box */
.people-box {
  margin: 0 auto;
  width: 375px;
  height: 180px;
  background-image: url("../images/people-image.jpg");
}
.people-img {
  min-width: 375px;
  height: 180px;
}
/* section-box */
.section-box {
  text-align: center;
}
.section-box__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 32px;

  margin: 32px 0 32px 0;
  text-transform: uppercase;
  color: var(--title-color);
}
.section-box__second-title {
  margin: 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  color: var(--color-blue);
}
.section-box__text {
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  width: 326px;
  color: var(--color-grey);
}
.section-box__text:last-child {
  margin-bottom: 32px;
}

/* section-girl */

.section-girl__img {
  width: 375px;
  height: 180px;
  margin: 0 auto;
  background-image: url("../images/girl.png");
}
.section-girl__content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 375px;
  height: 158px;
  background: var(--main-bgColor);
}
.section-girl__text {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}
/* pictures-set */

.pictures-set__box p {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-white);
}
.pictures-set {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.mobile-girl {
  display: flex;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 8px;
  width: 187.5px;
  height: 180px;
  background-image: url("../images/Mobile-girl.png");
}

.mobile-girl__2 {
  display: flex;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 8px;
  width: 187.5px;
  height: 180px;
  background-image: url("../images/mobile-girl__2.png");
}

.mobile-girl__3 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 8px;
  width: 375px;
  height: 375px;
  background-image: url("../images/mobile-girl__3.png");
  margin: 0 auto;
}
.mobile-girl__4 {
  display: flex;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 8px;
  width: 187.5px;
  height: 180px;
  background-image: url("../images/mobile-girl__4.png");
}

.mobile-girl__5 {
  display: flex;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 8px;
  width: 187.5px;
  height: 180px;
  background-image: url("../images/mobile-girl__5.png");
}

/* Fields */

.fields-box {
  width: 327px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.fields-maine__text {
  width: 327px;
  margin: 32px auto;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-color);
}
.fields-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.fields-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155.5px;
  height: 120px;
  margin-right: 16px;
  margin-bottom: 20px;
  background: var(--main-bgColor);
  border-radius: 8px;
}
.fields-list__item:nth-last-child(2n + 1) {
  margin-right: 0;
}

.fields-list__item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.field-list__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: var(--color-white);
}
/* City */
.city {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 180px;
  margin: 0 auto;
  background-image: url("../images/City.png");
}
.city-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}
.city-title__2 {
  display: none;
}

.city-second__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 254px;
  margin: 0 auto;
  background: var(--main-bgColor);
}
.city-second__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  width: 327px;
  color: var(--color-white);
}

/* Footer */
.footer-list {
  margin: 0;
  padding: 0;
}
.footer-item {
  text-align: center;
  margin-top: 32px;
}
.footer-item__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--color-white);
}
.footer-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #57bfe3;
}
.footer-btn {
  width: 327px;
  height: 60px;
  background: var(--color-blue);
  border-radius: 8px;
  border: none;
}

.footer-btn__link {
  width: 327px;
  height: 60px;
  background: var(--color-white);
  border: 1px solid var(--color-blue);
  border-radius: 8px;
}

.logo2 {
  text-align: center;
  margin: 32px 32px;
}

/* @media */

@media screen and (min-width: 834px) {
  .container-menu {
    width: 834px;
    align-items: center;
    justify-content: flex-start;
  }

  .header-menu {
    display: none;
  }
  .header-menu__box {
    display: flex;
    margin-left: 200px;
  }
  .header-menu__list {
    display: flex;
    margin: 0 66px 0 0;
    padding: 0;
  }
  .header-menu__list > li {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: var(--color-textBlue);
    margin-right: 24px;
  }
  .header-menu__list > li:last-child {
    margin-right: 0;
  }
  .if-section {
    width: 834px;
    height: 342px;
  }
  .if-logo {
    width: 200px;
    height: 112px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 142px;
  }
  .if-text {
    width: 464px;
    height: 120px;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    margin-left: 229px;
  }
  .header-menu__social__box {
    display: flex;
    margin-left: 88px;
  }

  .header-menu__social {
    fill: var(--color-textBlue);
    margin-right: 26px;
  }
  .people-box {
    width: 834px;
    height: 290px;
    background-image: url("../images/people-image-tablet.jpg");
  }
  .section-box__title {
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0 40px 0;
    color: #525c6f;
  }
  .people-box__list {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  .section-box {
    text-align: start;
  }
  .people-box__container {
    margin-right: 20px;
  }
  .section-box__text {
    margin-bottom: 0;

    width: 238px;
  }
  .section-box__text:last-child {
    margin-bottom: 0;
  }
  .section-girl__img {
    width: 834px;
    height: 290px;
    background-image: url("../images/girl-tab.png");
  }
  .section-girl__content {
    width: 834px;
    height: 141px;
    justify-content: center;
  }
  .section-girl__text {
    font-size: 52px;
    line-height: 61px;
  }
  .pictures-set__box {
    display: flex;
    background-color: var(--main-bgColor);
    width: 834px;
    margin: 0 auto;
    justify-content: center;
    margin-top: -1px;
  }

  .mobile-girl {
    width: 150.8px;
    height: 264px;
    background-image: url("../images/tab-girl.png");
  }

  .mobile-girl__2 {
    width: 150.8px;
    height: 264px;
    background-image: url("../images/tab-girl2.png");
  }

  .mobile-girl__3 {
    width: 150.8px;
    height: 264px;
    margin: 0;
    background-image: url("../images/tab-girl3.png");
  }
  .mobile-girl__4 {
    width: 150.8px;
    height: 264px;
    background-image: url("../images/tab-girl4.png");
  }

  .mobile-girl__5 {
    width: 150.8px;
    height: 264px;
    background-image: url("../images/tab-girl5.png");
  }
  .pictures-set__box p {
    font-size: 19px;
    text-align: center;
  }
  .fields-maine__text {
    font-size: 52px;
    line-height: 61px;
    width: 754px;
    margin: 40px auto;
    color: var(--color-grey);
  }
  .fields-box {
    width: 754px;
  }
  .fields-list__item {
    width: 176.5px;
    height: 120px;
  }
  .fields-list__item:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
  .fields-list__item:nth-child(4n + 2) {
    margin-right: 16px;
  }

  .field-list__text {
    padding: 16px 10px;
  }
  .city {
    width: 834px;
    height: 290px;
    background-image: url("../images/city-tab.png");
  }
  .city-title {
    display: none;
  }
  .city-title__2 {
    display: block;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    text-transform: uppercase;
    color: var(--color-white);
  }
  .city-second__box {
    width: 834px;
    height: 290px;
  }
  .city-second__text {
    font-size: 26px;
    line-height: 30px;
    width: 754px;
  }
  .footer-list {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 40px 40px;
  }
  .footer-btn__link {
    width: 270px;
    height: 60px;
  }
  .footer-btn {
    width: 270px;
    height: 60px;
  }
  .logo2 {
    margin: 0;
  }
  .footer-item {
    margin: 0 53px 0 0;
  }
  .footer-item:nth-child(1) {
    margin-right: 0;
  }
  .swiper {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .container-menu {
    justify-content: center;
    width: 1440px;
    height: 100px;
  }
  .logoKIF {
    display: block;
    margin-right: 155px;
  }

  .header-menu__box {
    margin-left: 0;
    align-items: center;
  }

  .header-menu__logo {
    display: flex;
    align-items: center;
  }
  .header-menu__social__box {
    display: flex;
    margin: 0 66px 0 0;
  }
  .header-menu__social {
    display: flex;
    align-items: center;
  }
  .header-menu__social:last-child {
    margin-right: 0;
  }
  .header-menu__logoKyiv {
    display: flex;
    margin: 0;
    padding: 0;
  }
  .header-menu__logoKyiv__item {
    margin-right: 24px;
  }
  .if-section {
    display: none;
  }
  .swiper {
    display: block;
  }
}
