:root {
  --color-white: #ffffff;
  --main-bgColor:#1F809D;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.page-header {
  color: var(--color-white);
}
.container-menu {
  display: flex;
  justify-content: end;
  min-width: 375px;
  height: 80px;
}
.header-menu {
  position: relative;
}

.menu-btn {
  margin-top: 28px;
  margin-right: 32px;
  border: none;
  background: none;
}
.btn-icon {
  width: 24px;
  height: 24px;
}
