:root {
  --color-white: #ffffff;
  --main-bgColor: #1f809d;
  --title-color: #ca2567;
  --color-grey: #525c6f;
  --color-blue: #57bfe3;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
p{
  margin: 0;
}
.page-header {
  color: var(--color-white);
}
.container-menu {
  display: flex;
  justify-content: end;
  min-width: 375px;
  height: 80px;
}
.header-menu {
  position: relative;
}

.menu-btn {
  margin-top: 28px;
  margin-right: 32px;
  border: none;
  background: none;
}
.btn-icon {
  width: 24px;
  height: 24px;
}
/* if-section */
.if-section {
  min-width: 375px;
  height: 232px;

  background: var(--main-bgColor);
}

.if-logo {
  margin-left: 24px;
  margin-bottom: 22px;
}
.if-text {
  margin: 0;
  margin-left: 96px;
  width: 255px;
  height: 95px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-white);
}
/* people-box */
.people-box {
  display: flex;
  justify-content: center;
}
.people-img {
  min-width: 375px;
  height: 180px;
}
/* section-box */
.section-box {
  text-align: center;
}
.section-box__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 32px;

  margin: 32px 0 32px 0;
  text-transform: uppercase;
  color: var(--title-color);
}
.section-box__second-title {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  color: var(--color-blue);
}
.section-box__text {
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  width: 311px;
  color: var(--color-grey);
}
.section-box__text:last-child {
  margin-bottom: 32px;
}

/* section-girl */

.section-girl__img {
  width: 375px;
  height: 180px;
  margin: 0 auto;
  background-image: url("../images/girl.png");
}
.section-girl__content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 375px;
  height: 158px;
  background: var(--main-bgColor);
}
.section-girl__text {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}
/* pictures-set */

.pictures-set__box p{
  font-weight: 700;
font-size: 20px;
line-height: 23px;
color: var(--color-white);
}
.pictures-set {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-girl {
  width: 187.5px;
  height: 180px;
  background-image: url("../images/Mobile-girl.png");
}

.mobile-girl__2 {
  width: 187.5px;
  height: 180px;
  background-image: url("../images/mobile-girl__2.png");
}

.mobile-girl__3 {
  width: 375px;
  height: 375px;
  background-image: url("../images/mobile-girl__3.png");
  margin: 0 auto;
}
.mobile-girl__4 {
  width: 187.5px;
  height: 180px;
  background-image: url("../images/Mobile-girl__4.png");
}

.mobile-girl__5 {
  width: 187.5px;
  height: 180px;
  background-image: url("../images/mobile-girl__5.png");
}
}
